:root {
    --primary: #eb1ccc;
    --secondary: #95989a;
    --text-color: #fff;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
}

*{
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-bottom: 500px;
}

/* Event form */
#event-description{
    background: linear-gradient(rgb(0,0,0,.8), rgb(0,0,0,.8)),
     url(../img/persianacapa.jpeg);
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color)
}

#disclaimer h2,
#disclaimer .event-date {
    color: var(--primary);
}

#disclaimer h2 {
    font-size: 3em;
    margin-bottom: 1em;
}

#disclaimer .about-event {
    font-size: 2em;
    text-transform: uppercase;
    max-width: 350px;
    font-weight: bold;
    margin-bottom: 1em;
}

#disclaimer p {
    font-size: 1.2em;
    margin-bottom: 0.3em;
}

#subscription-form {
    background-color: var(--secondary);
    padding: 2em;
    max-width: 22%;
}

#subscription-form p {
    font-size: 1.5em;
    color: var(--text-secondary);
    margin-bottom: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
}

.form-group label {
    color: var(--text-tertiary);
    font-weight: bold;
}

.form-group input,
.form-group select {
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn {
    background-color: var(--primary);
    color: var(--text-color);
    text-transform: uppercase;
    width: 100%;
    border: none;
    padding: 12px;
    cursor: pointer;
    opacity: .8;
}
.btn:hover {
    opacity: 1;
}

/*Benefits section*/
#key-benefits h2 {
    background-color: var(--secondary);
    text-align: center;
    padding: 2em;
    font-weight: 500px;
}

.benefits {
    display: flex;
    justify-content: space-around;
    padding: 4em;
    width: 80%;
    margin: 0 auto;
}

.benefit {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    color: var(--text-tertiary);
}

.benefit .benefit-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
}

#benefit-1 {
    background-image: url(../img/1.jpg);
}

#benefit-2 {
    background-image: url(../img/2.jpg);
}

#benefit-3 {
    background-image: url(../img/3.jpg);
}

/* Event location*/
#location {
    background: linear-gradient(rgb(0,0,0,.8), rgb(0,0,0,.8)),
    url(../img/persianacapa.jpeg);
   background-position: center;
   background-size: cover;
   height: 400px;  
   display: flex;
   align-items: center;
   justify-content: space-around;
   color: var(--text-color);
   margin-bottom: 3em;
}

#adress,
#about-location {
    max-width: 30%;
}

#address {
    display: flex;
}

#address i {
    color: var(--primary);
    font-size: 4em;
    margin-right: 0.5em;
}

#address-details {
    text-align: center;
    font-size: 1.3em;
}

#about-location h3 {
    color: var(--primary);
    font-size: 2.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

#about-location p {
    line-height: 1.5em;
}







/* Responsividade*/
@media (max-width: 450px){

    #event-description{
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    #disclaimer  {
    padding: 2em;
    }

    #subscription-form {
        max-width: 70%;
        margin-bottom: 2em;
    }

    .benefits {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2em;
        width: auto;
    }
  /* Localização*/
    #location {
        flex-direction: column;
        padding: 2em;
        text-align: center;
       height: auto;
    }

    #address {
        order: 2;
        flex-direction: column;
        max-width: 100%;
    }

    #about-location p {
     display: none;
    }

    #about-location h3 {
        display: flex;
        justify-content: center;
    }

    



}